@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
.home-page {
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  padding: 1rem 6rem;
  padding-top: 5rem;
  background: hsla(208, 81%, 12%, 1);
  background: linear-gradient(
    90deg,
    hsla(208, 81%, 12%, 1) 0%,
    hsla(236, 100%, 8%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#062139", endColorstr="#000328", GradientType=1 );
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  font-family: 'Space Grotesk', sans-serif;
}

.home-left {
  padding-top: 130px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.hello-msg {
  font-size: 4.25rem;
  color: white;
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-weight: 500;
}

.name-in-box {
  width: fit-content;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: rgba(21, 84, 139, 0.532);
  text-transform: uppercase;
  color: white;
}

.profession-display {
  font-size: 4rem;
  display: flex;
  color: #0788ff;
  text-transform: uppercase;
  font-weight: bold;
}

.intro-para {
  font-size: 1.3rem;
}

.contact-bar {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.get-in-touch-btn {
  cursor: pointer;
  margin-right: 0.75rem;
  padding: 1.15rem 1.65rem;
  border-radius: 1.75rem;
  box-sizing: content-box;
  font-weight: 600;
  border: 2px transparent solid;
  text-transform: uppercase;
  background-color: #0788ff;
  transition: all 0.35s ease;
}

.get-in-touch-btn:hover {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border: 2px white solid;
}

.cnt-icon {
  border-radius: 50%;
  width: 2.05rem;
  height: 2.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border: 2px solid #fff;
}

.cnt-icon.x {
  background-color: #000;
}

.cnt-icon.instagram {
  background-color: #f26798;
}

.cnt-icon.linkedin {
  background-color: #1275b1;
}

.icon {
  width: 1.25rem;
}

/* Right Section */
.home-right {
  padding-top: 130px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 90%;
  max-width: 650px;
  height: auto;
  object-fit: cover;
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
  .home-page {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .home-left,
  .home-right {
    width: 100%;
    align-items: center;
  }

  .hello-msg {
    font-size: 3rem;
  }

  .name-in-box {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  .hello-msg {
    font-size: 2rem;
  }

  .main-img {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .home-left,
  .home-right {
    width: 100%;
  }

  .home-left {
    padding-top: 100px;
  }

  .home-right {
    padding-top: 30px;
  }

  .hello-msg {
    font-size: 2.5rem;
  }

  .name-in-box {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }

  .profession-display {
    font-size: 2.5rem;
  }

  .contact-bar {
    margin-top: 1rem;
    width: 90%;
  }
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  .home-page {
    overflow-y: scroll;
  }
  .home-page {
    padding: 1rem 1rem;
  }

  .home-left {
    padding-top: 100px;
  }

  .home-right {
    padding-top: 20px;
  }
  .hello-msg {
    font-size: 2rem;
  }

  .profession-display {
    font-size: 2.3rem;
  }

  .name-in-box {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }

  .contact-bar {
    margin-top: 1rem;
    width: 90%;
  }
}
